{% if section.settings.enroute_product != blank %}

{% assign enroute_product = all_products[section.settings.enroute_product] %}

  <div id="is-a-gift" style="clear: left;" class="is-a-gift clearfix">
    <p>      
      <label class="label-checkbox" for="enroute">
        <input id="enroute" type="checkbox" name="attributes[enroute]" value="yes" {% if cart.attributes.enroute %} checked="checked"{% endif %} style="float: none" />
        <span class="fake-checkbox"></span>
      Add AROMATECH Full Coverage Shipping Insurance for <span class="enroute-price">{{ enroute_product.price | money }}</span>
        <span class="tooltiptext">Optional full shipping coverage starting at a low fee that effortlessly resolve any shipment issues. Lost, damaged, or stolen items are easily taken care of by contacting our Customer Service.</span>
      </label>
    </p>
  </div>

{% assign id = enroute_product.variants.first.id %}

{% assign gift_wraps_in_cart = 0 %}
{% for item in cart.items %}
  {% if item.id == id %}
    {% assign gift_wraps_in_cart = item.quantity %}
  {% endif %}
{% endfor %}

<style>
  #updates_{{ id }} { display: none; }
</style>

<script>



</script>

{% endif %}