<div class="container page-width2 b2b-testimonials section--remove-top-padding aromatech-page-testimonials">
  <a class="prev"></a>
  <a class="next"></a>

  {% if testimonialTitle != blank %}
    <div class="section-header text-center" style="padding-top: 50px;">
      <h2 class="h3">{{ testimonialTitle }}</h2>
    </div>
  {% endif %}

  <div class="row logo-bar{% if section.settings.title_enable %} logo-bar--large{% endif %}">
    {% assign b = 0 %}

    {% for image in testimonialImage %}
      {% if image != blank %}
        <div class="column logo-bar__item{% if section.settings.title_enable %}  logo-bar__item--large{% endif %}">
          {% if testimonialLink[forloop.index0] != blank %}
            <a href="{{ testimonialLink[forloop.index0] }}" class="logo-bar__link">
          {% endif %}

          {% if image != blank %}
            <img class="demo cursor" src="{{ image | scale: 2}}"
              data-index="{% increment b %}" style="width:100%">
          {% else %}
            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
          </a>
        </div>
      {% endif %}
    {% endfor %}

  </div>
</div>

<script>
	$(document).ready(function () {
		$('.logo-bar__item:first-child img').addClass('active');
		// var mySwiper = new Swiper('.js-quote-slider', {
		// 	loop: true,
		// 	navigation: {
		// 		nextEl: '.testimonial-arrow .next',
		// 		prevEl: '.testimonial-arrow .prev',
		// 	},
		// });
		$(document).on("click", ".logo-bar__item img", function () {
			let currentIndex = $(this).data('index');
			// mySwiper.slideTo(currentIndex);
			$('.logo-bar__item img').removeClass('active');
			$(this).addClass('active');
		});
		// mySwiper.on('slideChange', function (e) {
		// 	let crINdex = mySwiper.realIndex;
		// 	$('.logo-bar__item img').removeClass('active');
		// 	$('.logo-bar__item img[data-index="' + crINdex + '"]').addClass('active');
		// });
	});
</script>