
{% if product.tags contains '__label:new' %}


<div class="product-badge">
  <span class="new-label">New</span>
<!-- <svg height="48" width="48" class="product-label">
  <polygon points="250,0 250,100, 150,0" style="fill:white" class="badge-shape" />
  <text x="120" y="0" fill="black" transform="rotate(45,130,110)" class="badge-text">NEW</text>
</svg> -->
</div>
{% endif %}