{% if settings.read_more_enabled %}
    <div class="section-button-holder text-center">
        <div class="links-grid">
            <div>
                {% if settings.read_more_text != blank and settings.read_more_url != blank %}
                    <!-- <h4 class="read-more-title"><a href="{{ settings.read_more_url }}" id="read-more-link">{{ settings.read_more_text }}</a></h4> -->
                    <a href="{{ settings.read_more_url }}" class="btn2 btn2-link" id="read-more-link">{{ settings.read_more_text }}</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}