{% if detailText != blank or howToUseText != blank %}
	<div class="product-specs page-width2" style="margin-top: 50px;">
		<div class="product-specs-inner-wrapper">
			<div class="product-details">
				{% if detailTitle != blank %}
					<h2 class="h4">{{ detailTitle }}</h2>
				{% endif %}
					<div class="content-wrapper">
						{{ detailText }}
					</div>
			</div>

			<div class="product-details how-to-use">
				{% if howToUseTitle != blank %}
					<h2 class="h4">{{ howToUseTitle }}</h2>
				{% endif %}
					<div class="content-wrapper">
						{{ howToUseText }}
					</div>
			</div>
		</div>
	</div>
{% endif %}