{% if section.settings.page_header_enabled %}
  {% assign bg_image = section.settings.page_header_bg_image | img_url : '1024x' %}
  <div class="page-header-wrapper" style="background-image: url({{ bg_image }})">
    <div class="page-width2">
      <h1>{{ blog.title }}</h1>
    </div>
  </div>
{% endif %}

  {% assign bg_image-m = section.settings.page_header_bg_image-mobile | img_url : 'large' %}
  <div class="page-header-wrapper-mobile" style="background-image: url({{ bg_image-m }})">
    <div class="page-width2">
      <h1>{{ blog.title }}</h1>
    </div>
  </div>

{% schema %}
{
  "name": "Blog header",
  "settings": [
    {
      "type": "checkbox",
      "id": "page_header_enabled",
      "label": "Enable page header",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "page_header_bg_image",
      "label": "Select image (1600px)"
    },
    {
      "type": "image_picker",
      "id": "page_header_bg_image-mobile",
      "label": "Mobile image"
    }
  ]
}
{% endschema %}
