<style>
    .nav-item {
        display: inline;
        margin: 0 50px 0 0;
        padding: 0;
    }

    .hr1 {
        margin: 10px 0 10px 0;
        padding 0;
    }
</style>

<div class="page-width">
  <header>
    <h4>{{ section.settings.collection_title}}</h4>
<!-- <hr class="hr1"> -->
	<nav class="nav1">
<!--     <ul class="navbar-nav"> 
        {% for link in linklists[section.settings.nav_linklist].links %}
            {% if link.links != blank %}
                <li class="nav-item">
                    <a class="nav-link" href="#">{{ link.title }} {% include 'icon-arrow-right' %}</a>
                    <ul>
                        {% for childlink in link.links %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">{{ childlink.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="#">{{ link.title }}</a>        
                </li>
            {% endif %}
        {% endfor %}
    </ul> -->
      <ul >
        <li  class="nav-item" id="link1"><a >CITIES COLLECTION</a></li>
        <li  class="nav-item" id="link2"><a>Room Spray</a></li>
        <li  class="nav-item" id="link3"><a>Hair And Body Mist</a></li>
      </ul>
	</nav>
<!--     <hr class="hr1"> -->
  </header>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script>
        $("#link1").click(function() {
    		$('html,body').animate({
        	scrollTop: $("#collection1").offset().top},
        	'slow');
		});
        $("#link2").click(function() {
    		$('html,body').animate({
       	 	scrollTop: $("#collection2").offset().top},
        	'slow');
		});
		$("#link3").click(function() {
    		$('html,body').animate({
        	scrollTop: $("#collection3").offset().top},
        	'slow');
		});
</script>





{% schema %}
  {
    "name": "Navbar",
    "settings": [
		{
			"type": "text",
      		"id": "collection_title",
      		"label": "Collection Title"
		},
		{
			"type": "link_list",
      		"id": "nav_linklist",
      		"label": "Nav Menu"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

{% endjavascript %}
