
<div class="password-wrap">
  <div class="password-main-text"><p class="password-main-text--top">Sorry, the site is currently down for maintenance </p>
    <p class="password-main-text--bottom"> We`ll be back soon.</p></div>
    <div class="password-image">
        <img class="password-image-desktop" src="{{ 'password-bg--desktop.png' | asset_url }}" alt="">
        <img class="password-image-mobile" src="{{ 'password-bg--mobile.png' | asset_url }}" alt="">
    </div>
    
</div> 

{% schema %}
{
  "name": "Content",
  "settings": [
    {
      "type": "text",
      "id": "main_text",
      "label": "Text"
    }
  ]
}
{% endschema %}