
<div class="password-wrap">
    <div class="password-image">
        <img class="password-image-desktop" src="{{ section.settings.image | img_url: '1920x' }}" alt="">
        <img class="password-image-mobile" src="{{ section.settings.image_mobile | img_url: '500x' }}" alt="">
    </div>
</div>

{% schema %}
{
  "name": "Content",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Mobile image"
    }
  ]
}
{% endschema %}