
<div class="password-wrap">
  <h2 class="password-main-text">{{ section.settings.main_text }}</h2>
    <div class="password-image">
        <img class="password-image-desktop" src="{{ 'password-bg--desktop.png' | asset_url }}" alt="">
        <img class="password-image-mobile" src="{{ 'password-bg--mobile.png' | asset_url }}" alt="">
    </div>
    
</div>

{% schema %}
{
  "name": "Content",
  "settings": [
    {
      "type": "text",
      "id": "main_text",
      "label": "Text"
    }
  ]
}
{% endschema %}