$color-theme-primary:	#BA9163;
$cart-text-color:		#212121;
$cart-border-color:		$cart-text-color;

// 100 Ultra Light Italic
// 200 Thin Italic
// 300 Light Italic
// 400 Regular Italic
// 500 Medium Italic
// 700 Bold Italic
// 900 Black Italic
$font-weight-thin:		100;
$font-weight-light:		300;
$font-weight-medium:	500;
$font-weight-bold:		700;

body{
	font-family: 'GT America';
}

#shopify-section-cart-template{
	// padding: 47px 0 0;
	padding-bottom: 0;
	.page-width{
		// max-width: calc(1166px + 30px);
		// padding-right:15px !important;
		// padding-left:15px !important;
		// @media only screen and (max-width: 767px) {
		// 	padding-right:30px !important;
		// 	padding-left:30px !important;
		// }
		> div{
			border-bottom: 0.5px solid #606060;
			padding: 0 0 17px;
			@media only screen and (max-width: 767px) {
				padding: 0 0 11px;
			}
		}
	}
}

.cart-header{
	color: $cart-text-color;
	font-size: 16px;
	line-height: 1.375;
	margin: 0 0 43px;
	text-align: left;
	@media only screen and (max-width: 767px) {
		font-size: 12px;
		margin: 0 0 32px;
	}
	.cart-header__title{
		@media only screen and (max-width: 767px) {
			font-size: 14px;
			margin: 0 0 9px;
		}
	}
	p{
		color: inherit;
		font-size: inherit;
	}
	.text-link--accent{
		border: 0;
		color: $color-theme-primary;
		font-size: inherit;
		font-weight: inherit;
		letter-spacing: 0;
		line-height: inherit;
		padding: 0;
		text-decoration: none;
		text-transform: capitalize;
		&:hover {
			color: #977045;
			// text-decoration: underline;
			border-bottom: 1px solid #977045;
		}
	}
}
.cart-header__title{
	color: $cart-text-color;
	font: 100 26px/1.375 "GT America", sans-serif;
	letter-spacing: 0.0133em;
	margin: 0 0 11px;
	text-transform: uppercase;
}

form.cart {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	font-size: 14px;
	line-height: 1.5;
	margin: 0 -34px;
	@media (max-width: 1140px) {
		margin: 0 -17px;
	}
	@media (max-width: 992px) {
		display: block;
	}
	> .column{
		flex: 1 1 auto;
		padding: 0 34px;
		@media (max-width: 1140px) {
			padding: 0 17px 17px;
		}
		@media (max-width: 767px) {
			padding-bottom: 36px;
		}
		&.cart-table{
			max-width: 866px;
			width: 100%;
			@media (max-width: 992px) {
				max-width: none;
				width: auto;
			}
		}
	}
}

.cart-table{
	table{
		font-weight: 100;
		margin: 0;
	}
}

.cart{
	th,
	td{
		font-family: inherit;
		min-width: 31px;
		padding:11px 9px 11px 10px;
		&:first-child {
			width: 61%;
			@media (max-width: 749px) {
				width: 100%;
			}
		}
		&:last-child {
			padding-right: 9px;
		}
	}
	th{
		color: $cart-text-color;
		font-size: 14px;
		font-weight: 100;
		padding-top: 6px;
		padding-bottom: 6px;
		vertical-align: top;
		@media only screen and (max-width: 767px) {
			font-size: 10px;
			padding-top: 9px;
			padding-bottom: 9px;
		}
	}
	td{
		&.cart__final-price {
			font-size: 16px;
		}
		&:last-child{
			@media (max-width: 767px) {
				padding-right: 0;
			}
		}
	}
	.list-view-item__title{
		font: 500 14px/1.4286 'GT America', sans-serif;
		padding: 0 0 1px;
	}
}

.cart__row{
	border-bottom: 0.5px solid $cart-border-color;
}

.cart__product-information{
/*   display: flex; */
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	+ .price-total-mobile{
		float: right;
		margin: -32px -42px 0 0;
		@media (min-width: 749px) {
			display: none;
		}
	}
}

.cart__image-wrapper{
	flex: 0 1 auto;
	max-width: 92px;
	min-width: 92px;
	padding: 0 10px;
	@media only screen and (min-width: 990px) {
		// flex: 0 1 auto;
		max-width: 100px;
		min-width: 100px;
		// padding: 0 10px;
	}
}

.product-details{
	color: $cart-text-color;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	font-weight: 100;
	font-size: 14px;
	margin: 0;
	padding: 0;
	@media (max-width: 767px) {
		font-size: 10px;
		text-transform: uppercase;
	}
	+ .cart__qty{
		@media (min-width: 749px) {
			display: none;
		}
	}
}

.product-details__item{
	line-height: inherit;
	margin: 0 10px 0 0;
}

.cart__qty{
	display: inline-block;
	margin-top: 11px;
	position: relative;
	@media (min-width: 749px) {
		margin: 0;
	}
	.dec,
	.inc{
		cursor: pointer;
		font-size: 14px;
		padding: 5px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 5;
		&:hover {
			color: $color-theme-primary;
		}
	}
	.dec{
		left: 20px;
	}
	.inc{
		right: 20px;
	}
	input{
		border-color:$cart-text-color;
		border-radius:0;
		font-weight: 100;
		font-family: 'GT America', sans-serif;
		padding: 8px 34px;
		@media (max-width: 767px) {
			padding-top: 7px;
		}
	}
}

.cart__qty-input{
	width: 100px;
}

.cart__remove{
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	line-height: 0;
	margin: 0;
	a{
		border: 0;
		display: inline-block;
		vertical-align: middle;
		font-size: 0;
		line-height: 0;
		padding: 5px;
		text-decoration: none;
		width: 22px;
		@media (max-width: 767px) {
			width: 24px;
		}
		&:hover {
			.icon{
				fill: $color-theme-primary;
			}
		}
		.icon{
			height: auto;
			width: auto;
		}
	}
}

.cart__footer{
	padding: 5px 0 0;
	.grid{
		margin: 0;
	}
	.grid__item{
		padding-left: 0;
	}
	.cart-summary{
		font-weight: 100;
		margin: 0 0 7px;
		@media (max-width: 767px) {
			margin: 0 0 9px;
		}
		.title{
			display: block;
			font-size: 14px;
			font-weight: inherit;
			margin: 0 0 8px;
			@media (max-width: 767px) {
				font-size: 10px;
				text-align: left !important;
			}
		}
		ul{
			border: solid $cart-text-color;
			border-width: 0.5px 0;
			padding: 15px 0 11px 0;
			@media (max-width: 767px) {
				font-size: 10px;
				padding: 20px 0 7px 3px;
			}
			li{
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-content: flex-start;
				align-items: flex-start;
				padding: 0 0 10px;
				@media (max-width: 767px) {
					padding: 0 0 16px;
				}
			}
			span{
				&:first-child{
					@media (max-width: 767px) {
						text-transform: uppercase;
					}
				}
			}
		}
	}
}

.cart-subtotal {
	color: $cart-text-color;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: flex-start;
	align-items: flex-start;
	font-size: 16px;
	font-weight: 500;
	margin: 0 0 29px;
	@media (max-width: 767px) {
		font-size: 14px;
		margin: 0 0 13px;
		text-transform: uppercase;
	}
	.cart-subtotal__title{
		font-size: inherit;
	}
	.cart-subtotal__price{
		min-width: 0;
		padding-left: 15px;
	}
}

.is-a-gift {
	border: solid #212121;
	border-bottom: none;
    border-width: 0.5px 0;
    padding: 20px 0 23px 0;

    .enroute-price {
    	font-weight: 700;
    }

	.label-checkbox:not(.nt){
		font-weight: 100;
		padding: 0 0 0 32px;
		position: relative;
		text-align: left !important;
      	@media (max-width: 749px) {
          font-size: 10px;
        }
		input{
			left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
			&:checked {
				~ .fake-checkbox{
					&:before {
						display: block;
					}
				}
			}
		}
		.fake-checkbox{
			border: 1px solid $cart-text-color;
			height: 21px;
			left: 0;
			position: absolute;
			top: 4px;
			width: 21px;
			@media (max-width: 767px) {
				/*top: -1px; */
			}
			@media (max-width: 749px) {
				top: 2px;
			}
			&:before {
				$gap: 3px;
				background: $color-theme-primary;
				bottom: $gap;
				content: '';
				display: none;
				left: $gap;
				position: absolute;
				right: $gap;
				top: $gap;
			}
		}
		a{
			color: $color-theme-primary;
			font-size: inherit;
			font-weight: inherit;
			letter-spacing: 0;
			line-height: inherit;
			text-decoration: none;
			text-transform: none;
			&:hover {
				border-bottom: 1px solid #977045;
				color: #977045;
			}
		}
	}
}

.cart-notes{
	padding: 0 0 11px;
	@media (max-width: 767px) {
		padding: 0 0 13px;
	}
	.form-control{
		padding: 0 0 18px;
		@media (max-width: 767px) {
			padding: 0 0 14px;
		}
	}
	textarea{
		border: 0.5px solid #B6B6B6;
		border-radius: 0;
		color: $cart-text-color;
		font-family: 'GT America', sans-serif;
		font-size: 16px;
		font-weight: 100;
		line-height: normal;
		height: 71px;
		min-height: 71px;
		padding: 10px 14px;
		resize: vertical;
		width: 100%;
		&::-moz-placeholder {opacity: 1;}
		@media (max-width: 767px) {
			font-size: 10px;
			padding: 11px 8px;
			text-transform: uppercase;
		}
	}
	.label-checkbox{
		font-weight: 100;
		padding: 0 0 0 32px;
		position: relative;
		text-align: left !important;
		input{
			left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
			&:checked {
				~ .fake-checkbox{
					&:before {
						display: block;
					}
				}
			}
		}
		.fake-checkbox{
			border: 1px solid $cart-text-color;
			height: 21px;
			left: 0;
			position: absolute;
			top: 1px;
			width: 21px;
			@media (max-width: 767px) {
				top: -1px;
			}
			&:before {
				$gap: 3px;
				background: $color-theme-primary;
				bottom: $gap;
				content: '';
				display: none;
				left: $gap;
				position: absolute;
				right: $gap;
				top: $gap;
			}
		}
		a{
			color: $color-theme-primary;
			font-size: inherit;
			font-weight: inherit;
			letter-spacing: 0;
			line-height: inherit;
			text-decoration: none;
			text-transform: none;
			&:hover {
				border-bottom: 1px solid #977045;
				color: #977045;
			}
		}
	}
}

.cart__buttons-container{
	margin: 0;
	max-width: none;

	@media screen and (max-width: 767px) {
		margin-bottom: -95px;
	}

	.cart__submit-controls{
		flex-direction: column;
		justify-content: flex-start;
		align-content: stretch;
		align-items: stretch;
		.cart__submit.btn{
			font-weight: 500;
			letter-spacing: 1.5px;
			margin: 0 0 8px;
			padding: 9px 0 7px;
			width: 100%;
			color: #fff;

			&:hover {
				background: #977045;
			}
			@media screen and (max-width: 767px) {
				min-height: 34px;
				padding: 8px 0;
				width: 100%;
			}
			&:only-child {
				margin: 0;
			}
			+ .cart__submit{
				margin-left: 0;
			}
		}
		.btn--primary{
			background: $color-theme-primary;
			font-weight: normal;
			.icon{
				height: auto;
				margin: -6px 10px 0 0;
				width: 11px;
			}
		}
	}
}

.template-cart{
	.main-content{
		padding-top: 25px;
		@media (min-width: 750px) {
			padding-top: 47px;
		}
	}
	form.cart{
		.list-view-item__title{
			.cart__product-title{
				color: inherit;
				font-size: 14px;
				font-weight: $font-weight-medium;
				line-height: 1.4286;
				text-decoration: none;
				@media (min-width: 750px) {
					color: $cart-text-color;
					font: 500 16px/1.5 'GT America', sans-serif;
					letter-spacing: 1.33px;
					text-transform: uppercase;
				}
			}
		}
	}
	.section-collection{
		.list-view-item__title{
			color: $cart-text-color;
			font: 600 16px/1.5 'GT America', sans-serif;
			letter-spacing: 1.33px;
			text-transform: uppercase;
			a{
				&.cart__product-title {
					border: 0;
					color: inherit;
					font: inherit;
					letter-spacing: inherit;
					text-decoration: none;
					text-transform: inherit;
					@media (max-width: 767px) {
						font-size: 14px;
						line-height: 1.4286;
					}
				}
			}
		}
	}
	#shopify-section-rich-text{
		[class*="rich-text__heading--"]{
			&:only-child {
				h2{
					margin-bottom:0;
				}
			}
		}
	}
	#shopify-section-collection{
		.grid{
			~ .text-center{
				a.btn{
					&:hover {
						color: #606060;
					}
				}
			}
		}
	}
	.main-tab-slider{
		.shopify-section {
			padding-top: 0;
		}
		.tital-tab-slider{
			display: none;
		}
		.grid__item{
			min-height: 0;
			.list-product-price,
			.product-card ~ form{
				display:none
			}
		}
	}
	.shopify-section.active .section-collection .text-center a.btn{
		display: inline-block;
		vertical-align: top;
		line-height: 20px;
		&:hover {
			border-bottom-color: #606006;
		}
	}
}

#shopify-section-cart-also-bought {
	// margin-top: 10px;
	// padding-top: 0;
	.section-header {
		margin: 0 0 50px;
		position: relative;
		&:before {
			content: '';
			width: 100%;
			height: 1px;
			border-top: 0.5px solid #606060;
			display: block;
			position: absolute;
			left: 0;
			top: -50px;
		}
	}
	// .section-collection {
	// 	padding-top: 50px;
	// }
}

@media (max-width: 749px) {
	.template-cart .main-tab-slider .grid__item{
		margin: 0;
		padding: 0;
	}
	.template-cart .main-content .shopify-section.active .page-width.section-collection {
		padding-bottom: 50px;
	}
	#shopify-section-cart-also-bought .section-collection {
		padding-top: 25px;
		border: none;
	}
	#shopify-section-cart-also-bought .section-header {
		margin: 0 0 30px;
	}
	#shopify-section-cart-also-bought {
		margin-top: 0;
	}
	#shopify-section-cart-also-bought .section-header:before {
		top: -31px;
	}
}