.template-search {
	.search-form-r {
		// min-height: calc(100vh - 681px);
		padding-bottom: 50px;
	}

	.products-wrap {
		padding: 50px 0;
		background-color: #f3f5f4;
	}

	.collet-product {
		text-align: center;
	    display: flex;
	    flex-wrap: wrap;
	    width: 100%;

	    .grid__item {
	    	margin-right: 17px;
	    	padding: 0;
    	    position: relative;
    	    margin-bottom: 22px;

    	    &:nth-child(4n) {
    	    	margin-right: 0;
    	    }

    	    form {
    	    	display: none;
    	    }

    	    @media only screen and (min-width: 768px) {
    	    	&:hover form {
					display: none;
	    	    }
    	    }
    	    
    	    @media only screen and (max-width: 749px) {
				width: 46%;
				flex-grow: 1;
    	    }

    	    @media only screen and (max-width: 749px) and (min-width: 481px) {
    	    	margin-right: 17px !important;
				&:nth-child(2n) {
					margin-right: 0 !important;
				}
    	    }

    	    @media only screen and (max-width: 1023px) and (min-width: 750px) {
				margin-right: 17px !important;
				&:nth-child(3n) {
					margin-right: 0 !important;
				}
			}	
			
    	    @media only screen and (max-width: 480px) {
	    		width: 100%;
    			margin-right: 0 !important;
	    	}

    	    @media only screen and (min-width: 750px) {
	    		width: 23.2%;
    			max-width: 25%;
	    	}

	    	@media only screen and (max-width: 767px) and (min-width: 750px) {
				width: 29%;
				max-width: 33%;
			}

			@media only screen and (max-width: 1023px) and (min-width: 768px) {
				width: 30%;
    			max-width: 33%;
			}

	    	@media only screen and (min-width: 1024px) {
	    		width: 23.2%;
    			max-width: 25%;
	    	}

	    }
	}
}