<div class="template_contact">
  {% section 'template-contact-info' %}
  {% section 'template-contact' %}
  {% comment %}<div class="rte">{% endcomment %}
      {% comment %}{{ page.content }}{% endcomment %}
    {% comment %}</div>{% endcomment %}
</div>

